.home {
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
}

.home__left {
    background: #1E213A;
    flex: 30%;
    height: 100%;
}

.home__right {
    background: #100E1D;
    flex: 70%;
    height: 100%;
}

.left__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left__search {
    /* position: absolute; */
    width: 161px;
    height: 40px;
    background: #6E707A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::placeholder {
    color: #E7E7EB;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.left__secondPart {
    position: relative;
}

.left__middleImage {
    position: absolute ;
    left: 35%;
    top: 30%;
}
.left__edgeImage {
    /* mix-blend-mode: ; */
    /* filter: blur(8px); */
    position: relative;
    filter: opacity(5%);
}

.left__tem {
    margin-top: 20px;
}

.left__tem > big {
    color: white;
    font-family: Raleway;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
}

.left__tem > small {
    color: #E7E7EB;
    font-size: 50px;
    filter: opacity(60%);
}

.left__tem > p {
    margin-top: 100px;
    color: #A09FB1;
    font-family: Raleway;
    font-weight: 500;
    font-size: 36px;
}

.left__bottom {
    margin-top: auto;
}

.left__bottom > p {
    color: #88869D;
    font-family: Raleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.right__upper {
    display: flex;
    /* width: 100%; */
    height: 8%;
    flex-direction: row-reverse;
    justify-content: right;
    padding-right: 60px;
    padding-top: 10px;
}

.right__cDegree {
    width: 40px;
    height: 40px;
    background: #E7E7EB;
    border: none;
    color: #110E3C;
    text-align: center;
    /* display: inline-block; */
    font-size: 18px;
    border-radius: 50%;
    margin-left: 10px;
}

.right__fDegree {
    width: 40px;
    height: 40px;
    background: #585676;
    border: none;
    color: #E7E7EB;
    text-align: center;
    /* display: inline-block; */
    font-size: 18px;
    border-radius: 50%;
}

.right__weatherNextFiveDays {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%;*/
    padding: 20px 60px;
}

.right__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 177px;
    background: #1E213A;
    color: #E7E7EB;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.right__img {
    width: 56.44px;
    height: 62px;
}

.right__highLights {
    display: flex;
    flex-direction: column;
}

.right__highLights > p {
    color: #E7E7EB;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin-left: 60px;
}

.right__windStatusAndHumidity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 60px;
}

.right__visibilityAndAirPressure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 60px;
    margin-bottom: 111px;
}

.right__windStatus {
    background: #1E213A;
    /* width: 45%;
    height: 120%; */
    width: 308px;
    height: 204px;
    margin-right: 20px;
}

.right__windStatusButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.right__windStatusButton > p {
    color: #E7E7EB;
    font-size: 14px;
    line-height: 16px;
}

.right__humidity {
    background: #1E213A;
    width: 308px;
    height: 204px;
}

.right__zeroToHundred {
    display: flex;
    justify-content: space-between;
    margin: 0% 20%;
    width: 60%;
    height: 26px; 
}

.right__zeroToHundred > p {
    color:#A09FB1;
    /* margin: 0 20%; */
    font-size: 10px;
}

.right__visibility {
    background: #1E213A;
    width: 308px;
    height: 159px;
    margin-right: 20px;
}

.right__airPressure {
    background: #1E213A;
    width: 308px;
    height: 159px;
}

.right__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
}

.right__value {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #E7E7EB;
}

.right__unit {
    color: #E7E7EB;
    font-weight: 500;
    font-size: 30px;
}

@media only screen and (max-width: 767px) {
    .home {
        flex-direction: column;
    }

    .left__middleImage {
       width: 150px;
       height: 174px;
       left: 28%; 
    }

    .left__edgeImage {
        width: 600px;
        left: -30%;
    }
    
    .left__tem > p {
        margin-top: 20px;
    }

    .left__bottom {
        margin-top: 20px;
    }

    .right__weatherNextFiveDays {
        flex-wrap: wrap;
    }

    .right__highLights {
        background: #100E1D;
    }

    .right__windStatusAndHumidity {
        flex-direction: column;
    }

    .right__visibilityAndAirPressure {
        flex-direction: column;
    }

    .right__windStatus {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .right__humidity {
        width: 100%;
        /* margin-bottom: 20px; */
    }

    .right__visibility {
        width: 100%;
        margin-bottom: 20px;
    }

    .right__airPressure {
        width: 100%;
        margin-bottom: 20px;
    }
  }
